body {
  margin: 0; padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100%;
  color: #333;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: block;
}

#output {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}