* { box-sizing: border-box; }

body {
  background: #fff;
  margin: 0; padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100%;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 0 5%;
}

.two-col {
  width: 45%;
  padding: 0 2.5%;
}

#output {
  margin: 20px;
  padding: 15px;
  background: #eee;
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}